@import "tailwindcss";

@font-face {
    font-family: Josefin Sans;
    src: url('./assets/fonts/JosefinSans.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: Safira;
    src: url('./assets/fonts/Safira.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}

@theme{
    --font-josefin: Josefin Sans, "sans-serif";
    --font-safira: Safira, "sans-serif";
}
html, body, #root {
    height: 100%;
    margin: 0;
}